import { version } from '../../package.json';

export const environment = {
  version,
  production: false,
  tilesLightUrl: 'https://tiles.openfreemap.org/styles/liberty',
  tilesDarkUrl: 'https://tiles.openfreemap.org/styles/dark'
};
