import { version } from '../../package.json';

export const environment = {
  version,
  production: false,
  tilesLightUrl: 'https://api.maptiler.com/maps/basic-v2/style.json?key=YOUR_MAPTILER_KEY',
  tilesDarkUrl: 'https://api.maptiler.com/maps/basic-v2-dark/style.json?key=YOUR_MAPTILER_KEY'
};
